<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="nw.phantomConfig" type="LC.Framework.Phantom.Configuration.PhantomConfigurationHandler, NextWay.Framework.PhantomV2"/>
  </configSections>

  <nw.phantomConfig connLibrary="SqlClient" connString="Server=SQL5.IPHOTEL.COM.BR,9104;Database=dados_782;Uid=sysdemo2;Pwd=17a15d9d;timeout=1999999999" dbDateFormat="dd/MM/yyyy" dbTimeFormat="HH:mm:ss" isEncryptedConnString="false" allStringsUpperCase="true"/>

  <connectionStrings>
    <add name="connString" connectionString="Server=SQL5.IPHOTEL.COM.BR,9104;Database=dados_782;Uid=sysdemo2;Pwd=17a15d9d;timeout=1999999999"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
