<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nw.phantomConfig" type="LC.Framework.Phantom.Configuration.PhantomConfigurationHandler, NextWay.Framework.PhantomV2"/>
  </configSections>

  <!--<nw.phantomConfig connLibrary="SqlClient" connString="Server=dev01;Database=ubrasp_20160902;Uid=sa;Pwd=lcmaster0000;timeout=1999999999" dbDateFormat="dd/MM/yyyy" dbTimeFormat="HH:mm:ss" isEncryptedConnString="false" allStringsUpperCase="true"/>-->
  <nw.phantomConfig connLibrary="SqlClient" connString="Server=SQL5.IPHOTEL.COM.BR,9104;Database=dados_809;Uid=ubrasp;Pwd=8d2c5782;timeout=1999999999" dbDateFormat="dd/MM/yyyy" dbTimeFormat="HH:mm:ss" isEncryptedConnString="false" allStringsUpperCase="true"/>

  <connectionStrings>
    <!--<add name="connString" connectionString="Server=dev01;Database=ubrasp_20160902;Uid=sa;Pwd=lcmaster0000;timeout=1999999999"/>-->
    <add name="connString" connectionString="Server=SQL5.IPHOTEL.COM.BR,9104;Database=dados_809;Uid=ubrasp;Pwd=8d2c5782;timeout=1999999999" />
  </connectionStrings>
</configuration>