<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nw.phantomConfig" type="LC.Framework.Phantom.Configuration.PhantomConfigurationHandler, NextWay.Framework.PhantomV2" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <!--<nw.phantomConfig connLibrary="SqlClient" connString="Server=DEV01;Database=ubrasp_dev;Uid=sa;Pwd=lcmaster0000;timeout=1999999999" dbDateFormat="dd/MM/yyyy" dbTimeFormat="HH:mm:ss" isEncryptedConnString="false" allStringsUpperCase="true"/>-->
  <nw.phantomConfig connLibrary="SqlClient" connString="Server=SQL5.IPHOTEL.COM.BR,9104;Database=dados_809;Uid=ubrasp;Pwd=8d2c5782;timeout=1999999999" dbDateFormat="dd/MM/yyyy" dbTimeFormat="HH:mm:ss" isEncryptedConnString="false" allStringsUpperCase="true"/>

  <connectionStrings>
    <!--<add name="connString" connectionString="Server=DEV01;Database=ubrasp_dev;Uid=sa;Pwd=lcmaster0000;timeout=1999999999" />-->
    <add name="connString" connectionString="Server=SQL5.IPHOTEL.COM.BR,9104;Database=dados_809;Uid=ubrasp;Pwd=8d2c5782;timeout=1999999999" />
  </connectionStrings>
  
  <appSettings>
    <add key="tipoNossoNumero" value="itau" />
    <add key="OperadoraUnimedID" value="3"/>
    <add key="OperadoraUnimedFortalezaID" value="20"/>
    <add key="HashSalt" value="x@!1`~-_0)=+=/\|!®5" />
    <add key="useExternalCEPEngine" value="y" />
    <add key="logErrorMessages" value="n" />
    <add key="naoValidaDocs" value="n" />
    <add key="transactFilePath" value="var/transact_file/" />
    <add key="financialFilePath_" value="C:\inetpub\wwwroot\PadraoSeguros\www\var\financial_file\" />
    <add key="financialFilePath" value="C:\inetpub\wwwroot\Ubrasp\www\var\financial_file\" />

    <add key="financialFilePathFISICO" value="C:\inetpub\wwwroot\Ubrasp\www\var\financial_file\"/>

    <add key="otherFilePath" value="var/other_file/" />
    <add key="transactcustom_file" value="var/transact_custom_file/" />
    <add key="importproposal_file"  value="C:\inetpub\wwwroot\Ubrasp\www\var\import_proposal\" />
    <add key="importproposal_file_" value="C:\inetpub\wwwroot\PadraoSeguros\www\var\import_proposal\" />
    <add key="reports_file" value="C:\inetpub\wwwroot\Ubrasp\www\var\reports\" />
    <add key="reports_file_" value="C:\inetpub\wwwroot\PadraoSeguros\www\var\reports\" />

    <add key="contratoAdmQualicorpIdIncial" value="412" /> <!--a partir desse id de contrato adm, usar cedente Qualicorp-->

    <add key="mailFrom" value="noreply@linkecerebro.com.br" />
    <add key="mailFromName" value="UBRASP" />

    <!--Parametros do arquivo de remessa de cobranca - UNIBANCO-->
    <add key="UniC006" value="01081207779" />
    <add key="UniC007" value="0000" />
    <add key="UniC008" value="2" />
    <add key="UniC009" value="0" />
    <add key="UniC010" value="1" />
    <add key="UniC011" value="0000000" />
    <add key="UniC012" value="  " />
    <add key="UniC025" value="0108" />
    <add key="UniC026" value="01081207779" />
    <!--estava 0-->
    <add key="UniC039" value="0,001" />
    <!--1%/mes = 0,00033%/dia -->
    <add key="UniC044" value="Outros" />
    <add key="UniC045" value="A" />
    <!--atenção: campo aceite-->
    <add key="UniC047" value="20" />
    <!--Parametros do arquivo de remessa de cobrança SMS-->
    <add key="smsNomeEmpresa" value="PADRÃO SEGUROS" />
    <add key="smsVersaoLayout" value="1.1" />
    <add key="smsMensagemCobranca" value="Evite o cancelamento do seu plano de saude quitando-o em dia. Para 2a via de boleto acesse www.padraoseguros.com.br ou $TELREC$" />
    <add key="smsTelefoneReceptivo" value="0300 115 1005" />
    <add key="jurosAtraso" value="0,02" />
    <add key="jurosDia" value="0,001" />

    <add key="ftpRemessa" value="ftp://186.233.88.163/web/var/financial_file/" />
    <add key="ftpLogin" value="ubrasp" />
    <add key="ftpSenha" value="8d2c5782" />
  </appSettings>
  <applicationSettings>
    <Services.Properties.Settings>
      <setting name="Services_MailServASMX_mail" serializeAs="String">
        <value>http://linkecerebro.com.br/mailsrv/mail.asmx</value>
      </setting>
    </Services.Properties.Settings>
  </applicationSettings>
</configuration>