<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="nw.phantomConfig" type="LC.Framework.Phantom.Configuration.PhantomConfigurationHandler, NextWay.Framework.PhantomV2" />
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="www.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <nw.phantomConfig connLibrary="SqlClient" connString="Server=172.22.39.132;Database=padrao_producaoDB;USER ID=qlcdbsabe;PWD=qlcdbs@b$" dbDateFormat="dd/MM/yyyy" dbTimeFormat="HH:mm:ss" isEncryptedConnString="false" allStringsUpperCase="true" />

  <connectionStrings>
    <add name="connString" connectionString="Server=172.22.39.132;Database=padrao_producaoDB;USER ID=qlcdbsabe;PWD=qlcdbs@b$" />
  </connectionStrings>

  <appSettings>
    <add key="boletoMailUrlParam" value="cod_config=3" />
    <add key="boletoMailUrlParamQ" value="cod_config=0" />
    <add key="tipoNossoNumero" value="itau" />
    <add key="OperadoraUnimedID" value="3"/>
    <add key="OperadoraUnimedFortalezaID" value="20"/>
    <add key="HashSalt" value="x@!1`~-_0)=+=/\|!®5" />
    <add key="useExternalCEPEngine" value="y" />
    <add key="logErrorMessages" value="n" />
    <add key="naoValidaDocs" value="n" />
    <add key="transactFilePath" value="var/transact_file/" />
    <add key="financialFilePath" value="var/financial_file/" />
    <add key="otherFilePath" value="var/other_file/" />
    <add key="transactcustom_file" value="var/transact_custom_file/" />
    <add key="importproposal_file" value="var/import_proposal/" />
    <!--Parametros do arquivo de remessa de cobranca - UNIBANCO-->
    <add key="UniC006" value="01081207779" />
    <add key="UniC007" value="0000" />
    <add key="UniC008" value="2" />
    <add key="UniC009" value="0" />
    <add key="UniC010" value="1" />
    <add key="UniC011" value="0000000" />
    <add key="UniC012" value="  " />
    <add key="UniC025" value="0108" />
    <add key="UniC026" value="01081207779" />
    <!--estava 0-->
    <add key="UniC039" value="0,001" />
    <!--1%/mes = 0,00033%/dia -->
    <add key="UniC044" value="Outros" />
    <add key="UniC045" value="A" />
    <!--atenção: campo aceite-->
    <add key="UniC047" value="20" />
    <!--Parametros do arquivo de remessa de cobrança SMS-->
    <add key="smsNomeEmpresa" value="PADRÃO SEGUROS" />
    <add key="smsVersaoLayout" value="1.1" />
    <!--<add key="smsMensagemCobranca" value="Evite o cancelamento do seu plano de saude quitando-o em dia. Para 2a via de boleto acesse www.padraoseguros.com.br ou $TEL_REC$" />-->
    <add key="smsMensagemCobranca" value="Grupo Padrao Informa: Em funcao da greve dos Correios, lembramos que e possivel emitir 2a via do boleto atraves de nosso site: www.pspadrao.com.br" />
    <add key="smsTelefoneReceptivo" value="0300 115 1005" />
    <add key="jurosAtraso" value="0,02" />
    <add key="jurosDia" value="0,001" />
    <add key="anoRefDemonstrPagtos" value="2012" />

    <add key="contratoAdmQualicorpIdIncial" value="412" />
    <!--a partir desse id de contrato adm, usar cedente Qualicorp-->
  </appSettings>
  
    <system.web>
        <compilation debug="true" />
        <authentication mode="Windows" />
    </system.web>

</configuration>